name: Create release packages

on:
  release:
    types: [published]

jobs:
  package:
    strategy:
      matrix:
        go-version: [1.17]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build package
        run: make build-${{ matrix.os }}

      - name: List files
        run: ls output/*

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: |
            output/*

      - uses: AButler/upload-release-assets@v2.0
        with:
          files: "output/*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
